@page "/ataskaita"

<PageTitle>Ataskaitos kūrimas</PageTitle>
<h1>Ataskaitos kūrimas</h1>


<input type="text" class="form-control" placeholder="Pavadinimas"/>
<a class="btn btn-primary" href="admin" role="button">Kurti</a>
<a class="btn btn-primary" href="admin" role="button">Atgal</a>
nezinau ka cia deti