@page "/valdyti_vartotojus"

<PageTitle>Valdyti Vartotojus</PageTitle>
<h1>Valdyti Vartotojus</h1>

[vartotoju sąrašas][šalinti vartotoją][priskirti/atimti trenerio statusą]
<table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Vardas Pavardė</th>
        <th scope="col">Statusas</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jonas Biliūnas</td>
      <td>Treneris</td>
      <td><a class="btn btn-danger" role="button">Šalinti</a></td>
      <td><a class="btn btn-danger" role="button">Atimti trenerio statusą</a></td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Algirdas Matonis</td>
      <td>Narys</td>
      <td><a class="btn btn-danger" role="button">Šalinti</a></td>
      <td><a class="btn btn-danger" role="button">Priskirti trenerio statusą</a></td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Ponas Pomidoras</td>
      <td>Narys</td>
      <td><a class="btn btn-danger" role="button">Šalinti</a></td>
      <td><a class="btn btn-danger" role="button">Priskirti trenerio statusą</a></td>
    </tr>
  </tbody>
</table>

<br/>
<a class="btn btn-primary" href="admin" role="button">Atgal</a>