@page "/admin"

<PageTitle>Admin</PageTitle>
<h1>Admin</h1>

<a class="btn btn-primary" href="ataskaita" role="button">Kurti ataskaitą</a>
<br/><br/>

<a class="btn btn-primary" href="naujienos_kurimas" role="button">Kurti naujieną</a>
<a class="btn btn-primary" href="naujienos_salinimas" role="button">Šalinti naujieną</a>
<br/><br/>

<a class="btn btn-primary" href="valdyti_vartotojus" role="button">Valdyti vartotojus</a>

