@page "/naujienos_kurimas"

<PageTitle>Kurti naujieną</PageTitle>
<h1>Kurti naujieną</h1>

<input type="text" class="form-control" placeholder="Pavadinimas"/>
<textarea class="form-control" placeholder="Tekstas"/>

<a class="btn btn-primary" href="admin" role="button">Kurti</a>
<a class="btn btn-primary" href="admin" role="button">Atgal</a>