@page "/naujienos_salinimas"

<PageTitle>Šalinti naujieną</PageTitle>
<h1>Šalinti naujieną</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Naujiena</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Gruodžio 12d. nedirbsime</td>
      <td>
          <a class="btn btn-danger" href="naujienos_salinimas" role="button">Šalinti</a>
      </td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Iki 50% nuolaida nuo...</td>
      <td>
          <a class="btn btn-danger" href="naujienos_salinimas" role="button">Šalinti</a>
      </td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Naujos aerobikos treniruotės</td>
      <td>
          <a class="btn btn-danger" href="naujienos_salinimas" role="button">Šalinti</a>
      </td>
    </tr>
  </tbody>
</table>


<br/>
<a class="btn btn-primary" href="admin" role="button">Atgal</a>