@page "/"

<PageTitle>AppleGym</PageTitle>

<h1>AppleGym - Tavo sporto klubas!</h1>
<br />
<h3>Naujienos</h3>
<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-clock" aria-hidden="true"></span> Naujiena
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-clock" aria-hidden="true"></span> Naujiena
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tester">
                <span class="oi oi-clock" aria-hidden="true"></span> Naujiena
            </NavLink>
        </div>
    </nav>
</div>
<br />

<h3>Kontakai</h3>
<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <span class="oi oi-phone" aria-hidden="true"></span> Telefono nr.: +3706942069
        </div>
        <div class="nav-item px-3">
            <span class="oi oi-envelope-closed" aria-hidden="true"></span> El. paštas: applegym@gmail.com
        </div>
    </nav>
</div>
<br />

<h3>Treniruotės</h3>
<a class="btn btn-primary" href="treneriai" role="button">Žiūrėti Trenerius</a>