@page "/naryste"

<PageTitle>Mano Naryste</PageTitle>
<h1>Mano Naryste</h1>
Galioja iki: 2030-07-04
<br/> Likęs laikas: 98798 dienų
<br/> 
<br/>


<h3>Įsigyti narystę</h3>
<input type="text" class="form-control" placeholder="Vardas"/>
<input type="text" class="form-control" placeholder="Pavardė"/>
<input type="text" class="form-control" placeholder="Kortelės nr"/>
<input type="text" class="form-control" placeholder="cvv"/>
<input type="text" class="form-control" placeholder="Galioja iki"/>
<input type="text" class="form-control" placeholder="Mėnesių kiekis (15 eur/mėn)"/>
<button class="btn btn-primary" href="">Pirkti</button>
<br/>
<br/>

<h3>Lojalumas</h3>
Naryste džiaugiates jau <b>6 mėnesius, 4 dienas</b><br/>
Sekančiam mokėjimui bus pritaikyta <b>8%</b> nuolaida<br/>
<br/>
Kviesti draugą: <input type="text" class="form-control" placeholder="El. paštas"/>
<button class="btn btn-primary" href="">Kviesti</button>
Pakviestų draugų kiekis: <b>5</b><br/>
Jums priklauso <b>45 dienos</b> nemokamos narystės
<br/>
<br/>

<h3>Pertraukti narystę</h3>
<input type="text" class="form-control" id="kiekis" placeholder="Stabdomų dienų kiekis"/>
<button class="btn btn-warning" href="">Pertraukti</button>
<br/>
<br/>

<h3>Nutraukti narystę</h3>
<input type="text" class="form-control" placeholder="Priežastis"/>
<button class="btn btn-danger" href="" role="button">Nutraukti</button>