@page "/prisijungti"

<PageTitle>Prisijungti</PageTitle>
<h1>Log in homie</h1>

El. paštas
<input type="text" class="form-control" id="name"/>
Slaptažodis
<input type="text" class="form-control" id="name"/>

<div class="form-check">
      <input type="checkbox" class="form-check-input" id="dropdownCheck">
      Prisiminti mane
</div>
<a class="btn btn-primary" href="" role="button">Prisijungti</a>
<a class="dropdown-item" href="registruotis">Neturi paskyros? Registruokis čia!</a>