@page "/profilis"

<PageTitle>Mano Profilis</PageTitle>
<h1>Mano Profilis</h1>

Vardas: manovardas
<br />
Pavardė: manopavarde
<br />

<a class="btn btn-primary" href="profilio_redagavimas" role="button">Redaguoti profili</a>
<br />
<a class="btn btn-danger" href="#" role="button">Pašalinti paskyrą</a>