@page "/profilio_redagavimas"

<PageTitle>Profilio Redagavimas</PageTitle>
<h1>Profilio Redagavimas</h1>

Vardas: manovardas
<br />
Pavardė: manopavarde
<br />

<a class="btn btn-primary" href="profilis" role="button">Redaguoti profili</a>