@page "/profilio_redagavimas"

<PageTitle>Profilio Redagavimas</PageTitle>
<h1>Profilio Redagavimas</h1>

Vardas: manovardas
<br />
Pavardė: manopavarde
<br />

<button class="btn btn-primary" href="profilis">Keisti</button>