@page "/registruotis"

<PageTitle>Registruotis</PageTitle>
<h1>Register homie</h1>


Vardas
<input type="text" class="form-control" id="name"/>
Pavardė
<input type="text" class="form-control" id="name"/>
El. paštas
<input type="text" class="form-control" id="name"/>
Slaptažodis
<input type="text" class="form-control" id="name"/>

<br/>
<a class="btn btn-primary" href="" role="button">Registruotis</a>
