@page "/tester"

<PageTitle>tester</PageTitle>

<h1>tester</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<NavLink class="nav-link" href="counter">
    <span class="oi oi-list-rich" aria-hidden="true"></span> go to counter
</NavLink>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
