@page "/treniruotes_kurimas"

<PageTitle>Kurti Treniruotę</PageTitle>
<h1>Kurti Treniruotę</h1>

<div class="form-group">
    <label for="exampleFormControlSelect1">Pasirinkite dieną</label>
    <select class="form-control" id="exampleFormControlSelect1">
        <option>Pirmadienis</option>
        <option>Antradienis</option>
        <option>Trečiadienis</option>
        <option>Ketvirtadienis</option>
        <option>Penktadienis</option>
        <option>Šeštadienis</option>
        <option>Sekmadienis</option>
    </select>
</div>
<label>Valanda</label>
<input type="text" class="form-control" placeholder="pvz. 12:30"/>
<br/>

<a class="btn btn-primary" href="treniruotes" role="button">Kurti</a>
<a class="btn btn-primary" href="treneriai" role="button">Atgal</a>