@page "/treneriai"

<PageTitle>Treniruočių sąrašas</PageTitle>
<h1>Treniruočių sąrašas</h1>
<div>
    <div>
        <div style='float:left; margin-right: 20px'>
            <img src="https://i.imgur.com/MYWNNFu.jpeg" width="128" height="128" />
        </div>
        <div>        
            <h4>Jonas Biliūnas</h4>
            Bokso Treneris
            <br />        
            <a class="btn btn-primary" href="treniruotes" role="button">Žiūrėti treniruotes</a>
            <a class="btn btn-primary" href="treniruotes_kurimas" role="button">Kurti treniruotę</a>
        </div>
    </div>
    <br/><br/><br/>

    <div>
        <div style='float:left; margin-right: 20px'>
            <img src="https://i.imgur.com/PYIppA1.png" width="128" height="128" />
        </div>
        <div>        
            <h4>Jonas Biliūnas</h4>
            Aerobikos Treneris
            <br />        
            <a class="btn btn-primary" href="treniruotes" role="button">Žiūrėti treniruotes</a>
            <a class="btn btn-primary" href="treniruotes_kurimas" role="button">Kurti treniruotę</a>
        </div>
    </div>
</div>

