@page "/treniruotes_laiskas"

<PageTitle>Siųsti laišką</PageTitle>
<h1>Siųsti laišką</h1>

<label>Gavėjo paštas</label>
<input type="email" class="form-control" placeholder="gavejas@gmail.com"/>

<label>Tema</label>
<input type="text" class="form-control" placeholder="Tema"/>

<label>Laiško turinys</label>
<textarea class="form-control" placeholder="Tekstas"/>
    
<a class="btn btn-primary" href="treniruotes_lankytojai" role="button">Siųsti</a>
<a class="btn btn-primary" href="treniruotes_lankytojai" role="button">Atgal</a>