@page "/treniruotes"

<PageTitle>Jono Biliūno Treniruočių Grafikas</PageTitle>
<h1>Jono Biliūno Treniruočių Grafikas</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Diena</th>
            <th scope="col">Valanda</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Pirmadienis</td>
            <td>13:30</td>
            <td><a class="btn btn-primary" href="treniruotes" role="button">Registruotis</a></td>
            <td><a class="btn btn-primary" href="treniruotes_lankytojai" role="button">Lankytojai</a></td>
            <td><a class="btn btn-danger" href="treniruotes" role="button">Atšaukti treniruotę</a></td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>Pirmadienis</td>
            <td>15:30</td>
            <td><a class="btn btn-primary" href="treniruotes" role="button">Registruotis</a></td>
            <td><a class="btn btn-primary" href="treniruotes_lankytojai" role="button">Lankytojai</a></td>
            <td><a class="btn btn-danger" href="treniruotes" role="button">Atšaukti treniruotę</a></td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>Antradienis</td>
            <td>15:30</td>
            <td><a class="btn btn-primary" href="treniruotes" role="button">Registruotis</a></td>
            <td><a class="btn btn-primary" href="treniruotes_lankytojai" role="button">Lankytojai</a></td>
            <td><a class="btn btn-danger" href="treniruotes" role="button">Atšaukti treniruotę</a></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="treneriai" role="button">Atgal</a>