@inherits LayoutComponentBase

<PageTitle>applegym</PageTitle>

<div class="page">
    
    <div class="sidebar">
        <NavMenu />
    </div>
    <!-- -->

    <main>
        <div class="top-row px-4">            
            <a href="prisijungti">Prisijungti</a>
            <a href="registruotis">Registruotis</a>
            <a href="naryste">Narystė</a>
            <a href="profilis">Mano Profilis</a>
            <a href="admin">Administratoriaus langas</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
